<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <title>Tenets & Beliefs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tenets.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet"/>
    <link rel="icon" type="image/ico" href="(% static 'images/favicon.ico' %)" />
  </head>
  <body>
    <header class="topnav" id="myTopnav">
      <img class="logo" src="{% static 'images/coplogo.png' %}">
      <h2>The Church Of Pentecost U.S.A, Inc <br>
        Austin District</h2>
      <nav>
      <a href="/" class="active">Home</a>
      <div class="dropdown">
        <button class="dropbtn" onclick="window.location.href='aboutus';">About Us
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="leadership">Our Leadership</a>
          <a href="">Tenets &amp; Beliefs</a>
          <a href="history">History</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn" onclick="window.location.href='ministries';">Ministries
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="childrenministry">Children&#39;s Ministry</a>
          <a href="evangelismministry">Evangelism Ministry</a>
          <a href="mensministry">Men&#39;s Ministry</a>
          <a href="womensministry">Women&#39;s Ministry</a>
          <a href="youthministry">Youth &amp; Pensa</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn" onclick="window.location.href='local';">Locals
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="https://austinpiwc.copaustin.org/">Austin PIWC</a>
          <a href="https://killeenassembly.copaustin.org/" >Killeen Assembly</a>
          <a href="https://sanantonioassembly.copaustin.org/" >San Antonio Assembly</a>
          <a href="https://sanmarcosassembly.copaustin.org" >San Marcos Assembly</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn" onclick="window.location.href='churchmedia';">Media
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="gallery">Gallery</a>
          <a href="sermons">Sermon</a>
          <a href="videos">Videos</a>
        </div>
      </div>
    
      <a href="contacts">Contact Us</a>
      <a href="donate">Donate</a>
      <!-- <form id="app" action="#">
        <label :data-state="state" for="search">
          <input type="text" placeholder="Search" @click="state = 'opan'" @blur="state='close'"/>
          <i class="fa fa-search" @click="" aria-hidden="true"></i>
        </label>
        </form> -->
      <!-- <div class="dropdown">
        <button class="dropbtn">
        
         <i class="fa fa-search" onclick=displayInput() aria-hidden="true"></i>
        </button>
    
             <div  id="togglesearch_none">
              <form action="{% url 'index' %}" method="GET">
                <input type="text" placeholder="Search" aria-label="Search" name="search" value="{{index}}"/>
               <input type="button" value="Search"/> 
              
              </form>
            </div>
        
      </div>  -->
        <!-- <a href="#"><i class="fa fa-search"> </i>  -->
        
         
    <!--&lt;!&ndash;    </i><input type="text" size="15">-->
     <a href="javascript:void(0);" class="menu-btn" onclick="myFunction()"> 
          <div class="btn-line"></div>
          <div class="btn-line"></div>
          <div class="btn-line"></div>
      </a>
      </nav>
    </header>
    <main>
      <h1>The Tenets of the Church</h1>
      <div class="main-image">
        <img src="{% static 'images/COP-Tenets-1-scaled.jpg' %}" alt="" />
      </div>
      <h1>Our Core Values</h1>
      <div class="values-accordion">
        <button class="accordion">EVANGELISM</button>
        <div class="panel">
          <p class="accordion-p" id="p-1">
            It is the presentation of Jesus Christ in the power of the Holy
            Spirit with the view that people will come and trust Jesus as
            Saviour and Lord and serve him in the fellowship of the Church.
            Evangelism is the responsibility of every Church member. It is the
            prime duty of every believer to share his/her faith after
            conversion.<br />
            The scope of evangelism was initially Ghana, extending to Africa and
            to the whole world. Evangelism is missions-oriented; farmers, women,
            artisans, fishermen, intellectuals, etc. go out into other
            countries, preach Christ, open churches and call in ministers to
            pastor same. Besides, as was the practice of the founder, Pastor
            James McKeown, we respond to calls to missions as led by the Spirit
            of the Lord.
          </p>
        </div>

        <button class="accordion">DISCIPLESHIP</button>
        <div class="panel">
          <p class="accordion-p">
            Discipleship is training believers to be like Christ. The emphasis
            is on holiness, righteousness, faithfulness, honesty, sincerity,
            humility, prayerfulness and the leading of disciplined and
            responsible lives.
            <br />
            This is done at the level of individuals, where every member takes
            responsibility to discipline their new coverts, as well as through
            church/corporate based systematic teaching, and on-the-job training.
            <br />
            Teaching emphasizes the four-square gospel, which is
            Christ-centered: i.e. Jesus the Saviour, Healer, Baptizer and Soon
            Coming King; the Tenets of the Church; Bible reading/study and
            scripture memorization and application of the word to life
            situations.
          </p>
        </div>

        <button class="accordion">MINISTRY EXCELLENCE</button>
        <div class="panel">
          <p class="accordion-p">
            We seek to honour God who gave His best (the Saviour) by maintaining
            a high standard of excellence in all our ministries and activities
            (Colossians 3:23-24).
          </p>
        </div>
        <button class="accordion">CORE PRACTICES</button>
        <div class="panel">
          <p class="accordion-p">Some of the normal practices are regular prayer for the Holy Spirit baptism with initial evidence of speaking in tongues. Emphasis is placed on the fruit and gifts of the Spirit in the life of the believer.<br>

            Prayers are said for healing and deliverance for the afflicted as part of the initial exercises for salvation. <br />
            Services are marked as truly Pentecostal with praise and worship, teaching, exercise of gifts, prayer, testimony, etc.</p>
        </div>

        <button class="accordion">THE HOLY SPIRIT</button>
        <div class="panel">
          <p class="accordion-p">We believe in the presence of the person of the Holy Spirit and that the Christian life can be led only with His grace. The new birth is the work of the Holy Spirit, and then the baptism of the Holy Spirit for power to serve and the gifts of the Spirit for building the body of Christ.<br>

            The Holy Spirit helps the individual to develop a Christ-like character, manifest through bearing the fruit of the Spirit. <br>
            
            The leading of the Holy Spirit in all spheres of activity in the Church is paramount. Administrative structures and all other church distinctiveness have been by the leading of the Holy Spirit. The Church, through her leadership at all levels, co-operates in obedience.</p>
        </div>

        <button class="accordion">LEADERSHIP</button>
        <div class="panel">
          <p class="accordion-p">Leadership development is based on the apostolic foundation. Appointments and callings into leadership positions are based on character and charisma, and the leading of the Holy Spirit. Leadership development is from the shop floor, grass root level with members maturing to lead sub-groups, movements, assemblies, districts and areas. Team spirit with talent development shapes team work. Ministry is by both clergy and laity.</p>
        </div>
        <button class="accordion">CHURCH CULTURE</button>
        <div class="panel">
          <p class="accordion-p">The following distinctive attributes help identify The Church of Pentecost:
            <ul class="church-accordion">
              <li id="culture">Self-supporting attitude</li>
              <li id="culture">Faithfulness and integrity</li>
              <li id="culture">Distinctiveness in prayer</li>
              <li id="culture">Church discipline without fear or favour irrespective of position, race or colour of members.</li>
              <li id="culture">Place of worship based on Spirit and Truth and not necessarily on the Temple.</li>
              <li id="culture">Fellowship and liberality.</li>
              <li id="culture">Respect for authority.</li>
              <li id="culture">Mutual respect and sense of belonging for all members without discrimination based on tribalism, racism or nationality.</li>
              <li id="culture">Sacrificial service to the Church without expecting pecuniary reward.</li>
              <li id="culture">Total abstinence from alcohol, tobacco and other hard drugs.</li>
              <li id="culture">Encourage church planting.</li>
              <li id="culture"> Monogamous marriage is enforced as well as chastity before marriage.</li>
            </ul>
          </p>
        </div>

        <button class="accordion">TITHES/OFFERINGS</button>
        <div class="panel">
          <p class="accordion-p">Faithfulness in giving offerings and paying tithes to enhance ministry of the Church is emphasized. Periodic teaching on this subject is regarded as very important.<br>

            The Church and members depend solely on God as the source of financial supply. Borrowing is not encouraged. Usury amongst members is also not encouraged.</p>
        </div>

        <button class="accordion">SOCIAL ACTIVITIES</button>
        <div class="panel">
          <p class="accordion-p">The Church believes in communal living with members supporting one another, and participating in communal work. The Church may also help the entire community by providing social needs such as health services, schools, agriculture as well as donating to the needy in society.</p>
        </div>
        <button class="accordion">HOLINESS OF MEMBERS AND OFFICERS</button>
        <div class="panel">
          <p class="accordion-p">The church upholds holiness of members Unto the Lord in all their endeavours (Romans 12:1; Hebrews 12:14).</p>
        </div>

        <button class="accordion">
          CONSISTENT BIBLE TEACHING - (Acts 2:42a)
        </button>
        <div class="panel">
          <p class="accordion-p">The church believes in an unadulterated teachings of the gospel of Jesus Christ.</p>
        </div>
        <div class="panel">
          <p class="accordion-p"></p>
        </div>

        <button class="accordion">PRAYER OF ALL TYPES</button>
        <div class="panel">
          <p class="accordion-p">e.g. Worship (Adoration); Supplication; Intercession (Ephesians 6:18-19; 1 Timothy 2:1-2).</p>
        </div>
        <button class="accordion">CHURCH DISCIPLINE</button>
        <div class="panel">
          <p class="accordion-p">(2Timothy 3:16-17; Hebrews 12:7-11)</p>
          <ul class="church-accordion">
            <li id="culture">Respect for and obedience to authority.</li>
            <li id="culture">Submission to corrective measures/policies of the Church.</li>
            <li id="culture">Regular fellowship of saints - (Acts 2:42-47; Hebrews 10:25)</li>
            </ul>
        </div>
      </div>
    </main>
    <footer>
      <div id="container">
     
    
      <!-- Resources -->
      <div class="resources">
        <h3>Resources</h3>
        <div class="line"></div>
        <ul>
          <li>
            <i class="fas fa-caret-right"></i>
            <a href="biblestudies">Bible Studies</a>
          </li>
          <li>
            <i class="fas fa-caret-right"></i>
            <a href="books">Books</a>
          </li>
          <li>
            <i class="fas fa-caret-right"></i>
            <a href="pentecostsongs">Pentecost Songs</a>
          </li>
        </ul>
      </div>
  
      <!-- Quick Links -->
      <div class="quick-links">
        <h3>External Links</h3>
        <div class="line"></div>
        <ul>
          <li>
              <i class="fas fa-caret-right"></i>
              <a href="https://thecophq.org/">International HQ</a>
          </li>
          <li>
              <i class="fas fa-caret-right"></i>
              <a href="https://www.copusa.org/">National HQ</a>
          </li>
          <li>
              <i class="fas fa-caret-right"></i>
              <a href="https://www.copusa.org/texas-region/">Texas Region</a>
          </li>
          <li>
              <i class="fas fa-caret-right"></i>
              <a href="https://business.facebook.com/Church-of-Pentecost-Austin-District-Outreach-and-Discipleship-wing-104092241275458/">Outreach</a>
          </li>
      </ul>
      </div>
    
        <!-- About Us -->
        <div class="about-us">
          <h3>About Us</h3>
          <div class="line"></div>
          <p>The Church of Pentecost U.S.A Inc., Austin District, is a non-profit-making Pentecostal church with its district seat in
            Austin, Texas.
          </p>
    
          <!-- <a href="">Send Us a Message</a> -->
          <button onclick="window.location.href = 'contacts';">Send Us a Message</button>
        </div>
      </div>
      <hr>
      <section class="bottom">
        <p>Copyright &copy; 2021 The Church of Pentecost U.S.A. Inc., Austin District. </p>
        <a href="websitebuilders">Website Builders</a>
        <a href="admin/" target="_blank" rel="noopener noreferrer">Site Admin</a>
        <ul>
          <li>
            <a href="https://business.facebook.com/Church-of-Pentecost-Austin-District-Outreach-and-Discipleship-wing-104092241275458/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.copaustin.org/"><i class="fas fa-caret-right"></i></a>
            <a href="#"><i class="fas fa-chevron-up"></i></a>
          </li>
        </ul>
      </section>
    </footer>
    <script src="{% static 'css/menu.js' %}" ></script>
    <script src="{% static 'css/accordion.js' %}"></script>
  </body>
</html>
