* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


/* Navigation */

.topnav {
    background-color: #005368;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* Style logo*/
.logo {
    width: 75px;
    padding: .5rem 0 .5rem .75rem;
}

h2 {
    color: #fff;
    flex-grow: 2;
    font-size: 20px;
    padding-right: 30px;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    /*text-transform: uppercase;*/
}

/* Add an active class to highlight the current page */
.active {
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */

.topnav .menu-btn {
    display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /*text-transform: uppercase;*/
    margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) {
   h2 {
       font-size: 18px;
   }
    .topnav a,
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.menu-btn {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 700px) {

    .topnav.responsive {
        position: relative;
        flex-direction: column;
        align-items: stretch;
    }

    .topnav.responsive a.menu-btn {
        position: absolute;
        right: 0;
        top: 0;
        transition: all 0.5s ease-out;
    }
    .topnav.responsive img
     {
        align-self: center;
    }

    .topnav.responsive h2 {
        display: none;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        padding-left: 30px;

    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        padding-left: 30px;
        text-align: left;
    }
}


/* Styling the hamburger lines */
.menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    transition: all 0.5s ease-out;
}

/* Adding transform to the X */
.menu-btn.close {
    transform: rotate(180deg);
}

/* Styling the three lines
    to make it an X */
.menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}
/*Slideshow*/

[data-component="slideshow"] .slide {
    display: none;
    width: 100%;
}

[data-component="slideshow"] .slide.active {
    display: block;
}
/*Welcome-Announcements*/
#announcements {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*height: 46vh;*/
    background-color: #fff;

}
#announcements h2 {
    padding: 15px 0;
    text-align: center;
    color: #000;
    font-size: 36px;
}
/*Newsfeed*/
#announcements p {
    padding: 15px 0;
    width: 100%;
    font-size: 28px;
    animation: marquee 30s linear infinite;
    white-space: nowrap;
}
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/*Move w Pastor*/

.pastor-text {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 50vw;
}

.pastor-text h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
}

.pastor-text p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    padding: 15px;
}

.pastor-text button {
    padding: 15px 25px;
    border-style: none;
    background: #005368;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 600px){
    #pastor-message {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        height: 46vh;
        padding: 0;
        margin: 0;
        background-image: url('images/mwtpastor.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        overflow: hidden;
        position: relative;
        text-align: center;
        color: white;
    }
    .pastor-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70vw;
    }
    .pastor-text h2 {
        font-size: 20px;
    }
    .pastor-text p {
        font-size: 16px;

    }

}


/*Footer Styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

footer {
    margin: 0;
    padding: 0;
}

#container {
    margin: 0px 350px;
    padding: 50px;
}

ul {
    list-style-type: none;
}

li {
    vertical-align: baseline;
    height: 45px;
}

li a {
    text-decoration: none;
    color: #3d3d3d;
    padding: 15px;
}

h3 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #020202;
}

.categories .line,
.resources .line,
.quick-links .line,
.about-us .line
{
    display: inline-block;
    margin: 30px 2px;
    width: 85px;
    height: 1px;
    background: #094b7a;
}


.about-us {
    width: 380px;
}

.about-us p {
    width: 100%;
    line-height: 2;
    font-weight: 700;
    color: #000;
}

.about-us a {
    position: relative;
    right: 15px;
    text-decoration: underline;
    font-weight: 700;
    color: #000;
}

.about-us button {
    position: relative;
    top: 50px;
    padding: 15px 25px;
    margin-bottom: 30px;
    border-style: none;
    background: #072f4c;
    color: white;
    cursor: pointer;
}

.bottom {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    padding: 30px;
}

@media screen and (max-width: 992px) {

    #container {
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
        padding: 50px;
        margin: 0px;
    }
    .about-us {
        width: 200px;
    }

    #pastor-message {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        height: 46vh;
        padding: 0;
        margin: 0;
        background-image: url('images/mwtpastor.png');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        position: relative;
        text-align: center;
        color: white;
    }
    .pastor-text h2 {
        font-size: 26px;
    }

}


@media screen and (min-width: 992px) {

    #container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-content: center;
        margin: 0px;
        padding: 50px;
    }
    #pastor-message {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        height: 46vh;
        padding: 0;
        margin: 0;
        background-image: url('images/mwtpastor.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        overflow: hidden;
        position: relative;
        text-align: center;
        color: white;
    }
    /*#pastor-message {*/
    /*    background-position: center center;*/
    /*}*/

    /*.bottom p {*/
    /*    position: relative;*/
    /*    top: 40px;*/
    /*    left: -250px;*/
    /*    padding: 30px;*/
    /*}*/

    /*.bottom li {*/
    /*    position: relative;*/
    /*    width: 100%;*/
    /*    top: -6px;*/
    /*    left: 250px;*/
    /*}*/

    /*.fa-caret-right {*/
    /*    font-size: 22px;*/
    /*}*/

    /*.fa-chevron-up {*/
    /*    position: relative;*/
    /*    bottom: 0px;*/
    /*    right: 0px;*/
    /*}*/
}
