* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	font-family: "Open sans";
	background-image: url(http://www.new.copusa.org/wp-content/uploads/2018/10/home_yoga_bg_pattern.jpg);
}

.img-fluid {
	width: 55%;
	height: auto;
}

.content {
	text-align: center;
}

.container {
	font-size: 45px;
	letter-spacing: 0px;
	padding: 50px 0;
}

.buttons {
	font-size: 14px;
	padding: 15px;
}

.buttons .btn-dark {
	position: relative;
	right: 5px;
}

.buttons .btn-primary {
	width: 5%;
}
/* videos */
.video-content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 20px;
	row-gap: 100px;
	padding: 100px 350px;
}

.video-content iframe {
	width: 100%;
}

/* Footer styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
}

footer {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

#container {
	margin: 0px 350px;
	padding: 50px;
}

ul {
	list-style-type: none;
	margin: 10px;
	padding-left: 0rem;
}

li {
	vertical-align: baseline;
	height: 45px;
}

li a {
	text-decoration: none;
	color: #3d3d3d;
	padding: 15px;
}

h3 {
	font-size: 22px;
	line-height: 28px;
	font-weight: 400;
	letter-spacing: 0px;
	color: #020202;
}

.categories .line,
.resources .line,
.quick-links .line,
.about-us .line {
	display: inline-block;
	margin: 30px 2px;
	width: 85px;
	height: 1px;
	background: #094b7a;
}

.about-us {
	width: 380px;
}

.about-us p {
	width: 100%;
	line-height: 2;
	font-weight: 700;
	color: #000;
}

.about-us a {
	position: relative;
	right: 15px;
	text-decoration: underline;
	font-weight: 700;
	color: #000;
}

.about-us button {
	position: relative;
	top: 50px;
	padding: 15px 25px;
	margin-bottom: 30px;
	border-style: none;
	background: #072f4c;
	color: white;
	cursor: pointer;
}

.bottom {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	text-align: center;
	padding-right: 100px;
}

@media screen and (max-width: 992px) {
	#container {
		display: grid;
		grid-template-columns: 1fr;
		align-content: center;
		padding: 50px;
		margin: 0px;
	}
	.about-us {
		width: 200px;
	}
	#contact-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
	}

	.bottom {
		position: relative;
		right: 15px;
		display: inline-block;
		width: 100%;
		text-align: center;
		padding-right: 10px;
	}

	.bottom p {
		padding-top: 25px;
	}

	.bottom ul {
		position: relative;
		bottom: 85px;
	}
}

@media screen and (min-width: 992px) {
	#container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		align-content: center;
		margin: 0px;
		padding: 50px;
	}
}

@media only screen and (max-width: 767px) {
	main {
		font-family: "Open sans";
		background-image: url(http://www.new.copusa.org/wp-content/uploads/2018/10/home_yoga_bg_pattern.jpg);
	}

	.img-fluid {
		width: 85%;
		height: auto;
	}
	.content {
		text-align: center;
	}

	.container {
		font-size: 45px;
		letter-spacing: 0px;
		padding: 50px 0;
	}

	.buttons {
		font-size: 14px;
		padding: 15px;
	}

	.buttons .btn-dark {
		position: relative;
		right: 5px;
	}

	.buttons .btn-primary {
		width: 25%;
	}

	.video-content {
		display: grid;
		grid-template-columns: 1fr;
		column-gap: 0px;
		row-gap: 25px;
		padding: 0px 0px;
	}

	.video-content iframe {
		width: 85%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
	main {
		font-family: "Open sans";
		background-image: url(http://www.new.copusa.org/wp-content/uploads/2018/10/home_yoga_bg_pattern.jpg);
	}

	.img-fluid {
		width: 85%;
		height: auto;
	}
	.content {
		text-align: center;
	}

	.container {
		font-size: 45px;
		letter-spacing: 0px;
		padding: 50px 0;
	}

	.buttons {
		font-size: 14px;
		padding: 15px;
	}

	.buttons .btn-dark {
		position: relative;
		right: 5px;
	}

	.buttons .btn-primary {
		width: 15%;
	}

	.video-content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 20px;
		row-gap: 100px;
		padding: 30px;
	}

	.video-content iframe {
		width: 100%;
	}
}
