* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #4d4d4d;
	font-family: open-sans;
	width: 100%;
	height: 100%;
}

footer {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-content: center;
	margin: 0px 350px;
	padding: 50px;
}

ul {
	list-style-type: none;
}

li {
	vertical-align: baseline;
	height: 45px;
}

a {
	text-decoration: none;
	color: #3d3d3d;
	padding: 15px;
}

h3 {
	font-size: 22px;
	line-height: 28px;
	font-weight: 400;
	letter-spacing: 0px;
	color: #020202;
}

.categories .line {
	display: inline block;
	margin: 30px 2px;
	width: 85px;
	height: 1px;
	background: #094b7a;
}

.resources .line {
	display: inline block;
	margin: 30px 2px;
	width: 85px;
	height: 1px;
	background: #094b7a;
}

.quick-links .line {
	display: inline block;
	margin: 30px 2px;
	width: 85px;
	height: 1px;
	background: #094b7a;
}

.about-us .line {
	display: inline block;
	margin: 30px 2px;
	width: 85px;
	height: 1px;
	background: #094b7a;
}

.about-us {
	width: 380px;
}

.about-us p {
	width: 100%;
	line-height: 2;
	font-weight: 700;
	color: #000;
}

.about-us a {
	position: relative;
	right: 15px;
	text-decoration: underline;
	font-weight: 700;
	color: #000;
}

button {
	position: relative;
	top: 50px;
	padding: 15px 25px;
	border-style: none;
	background: #072f4c;
	color: white;
	cursor: pointer;
}

.bottom p {
	position: relative;
	top: 45px;
	left: 400px;
}
.bottom li {
	position: relative;
	width: 100%;
	top: 20px;
	left: 1500px;
}

@media screen (min-width:768px) and (max-width: 768px) {
	body {
		color: #4d4d4d;
		font-family: sans-serif;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}

	#container {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr 1fr !important;
		align-content: center;
		margin: 0px 350px;
	}

	ul {
		list-style-type: none;
	}

	li {
		vertical-align: baseline;
		height: 45px;
	}

	a {
		text-decoration: none;
		color: #3d3d3d;
		padding: 5px;
	}

	h3 {
		font-size: 22px;
		line-height: 28px;
		font-weight: 400;
		letter-spacing: 0px;
		color: #020202;
	}

	.categories .line {
		display: inline block;
		margin: 30px 2px;
		width: 85px;
		height: 1px;
		background: #094b7a;
	}

	.resources .line {
		display: inline block;
		margin: 30px 2px;
		width: 85px;
		height: 1px;
		background: #094b7a;
	}

	.quick-links .line {
		display: inline block;
		margin: 30px 2px;
		width: 85px;
		height: 1px;
		background: #094b7a;
	}

	.about-us .line {
		display: inline block;
		margin: 30px 2px;
		width: 85px;
		height: 1px;
		background: #094b7a;
	}

	.about-us {
		width: 380px;
	}

	.about-us p {
		width: 85%;
		line-height: 2;
		font-weight: 700;
		color: #000;
	}

	.about-us a {
		position: relative;
		right: 15px;
		text-decoration: underline;
		font-weight: 700;
		color: #000;
	}

	button {
		position: relative;
		top: 50px;
		padding: 15px 25px;
		border-style: none;
		background: #072f4c;
		color: white;
		cursor: pointer;
	}

	.bottom {
		width: 100%;
		text-align: center;
	}

	footer .bottom p {
		position: relative;
		top: 35px;
		padding: 30px;
	}
	.bottom li {
		position: relative;
		left: 15px;
	}

	.fa-caret-right {
		font-size: 22;
	}

	.fa-chevron-up {
		position: relative;
		bottom: 90px;
		right: 35px;
	}
}

@media screen and (max-width: 992) {
	body {
		color: #4d4d4d;
		font-family: sans-serif;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}

	#container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		align-content: center;
		padding: 50px;
	}

	ul {
		list-style-type: none;
	}

	li {
		vertical-align: baseline;
		height: 45px;
	}

	a {
		text-decoration: none;
		color: #3d3d3d;
		padding: 15px;
	}

	h3 {
		font-size: 22px;
		line-height: 28px;
		font-weight: 400;
		letter-spacing: 0px;
		color: #020202;
	}

	.categories .line {
		display: inline block;
		margin: 30px 2px;
		width: 85px;
		height: 1px;
		background: #094b7a;
	}

	.resources .line {
		display: inline block;
		margin: 30px 2px;
		width: 85px;
		height: 1px;
		background: #094b7a;
	}

	.quick-links .line {
		display: inline block;
		margin: 30px 2px;
		width: 85px;
		height: 1px;
		background: #094b7a;
	}

	.about-us .line {
		display: inline block;
		margin: 30px 2px;
		width: 85px;
		height: 1px;
		background: #094b7a;
	}

	.about-us {
		width: 380px;
	}

	.about-us p {
		width: 100%;
		line-height: 2;
		font-weight: 700;
		color: #000;
	}

	.about-us a {
		position: relative;
		right: 15px;
		text-decoration: underline;
		font-weight: 700;
		color: #000;
	}

	button {
		position: relative;
		top: 50px;
		padding: 15px 25px;
		border-style: none;
		background: #072f4c;
		color: white;
		cursor: pointer;
	}

	.bottom p {
		position: relative;
		top: 40px;
		left: 100px;
	}
	.bottom li {
		position: relative;
		width: 100%;
		top: 20px;
		left: 760px;
	}
}
